.section {
   /* Adds space inside each section */
  margin-bottom: 100px;
  min-height: 100vh; /* Adds space between sections */
   /* Makes each section take at least full screen height */
   /* Centers content horizontally */
}
body, html {
   margin: 0;
   padding: 0;
   background-color: #111;
   color: white;
   min-height: 100vh;
   overflow-x: hidden;

}
#contact {
   background: transparent !important;  /* Removes black background */
}
.section {
   background: transparent !important; /* ✅ Force Transparent */
 }